<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Jogo</title>
    <link rel="stylesheet" href="/css/criar_jogo.css" />
  </head>
  <body>
    <div class="header">
      <p id="Counter-Strike">Counter-Strike</p>
      <p id="Quiz">Quiz</p>
    </div>
    <span class="title"
      ><a href="/views/menu.ejs"><img src="/public/images/arrow.png" /></a
    ></span>
    <div class="op1">
      <form>
        <p>Dificuldade</p>
        <input type="radio" name="op1" id="facil" value="facil" />
        <label for="facil"> Fácil</label><br />
        <input type="radio" name="op1" id="medio" value="medio" />
        <label for="medio"> Médio</label><br />
        <input type="radio" name="op1" id="dificil" value="dificil" />
        <label for="dificil"> Dificil</label><br />
      </form>
    </div>
    <div class="op2">
      <form>
        <p>Modo</p>
        <input type="radio" name="op2" id="individual" value="individual" />
        <label for="individual"> Individual</label><br />
        <br />
        <input type="radio" name="op2" id="equipa" value="equipa" />
        <label for="equipa"> Equipa</label><br />
      </form>
    </div>
  </body>
</html>
