<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:src/views/score.ejs
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/score.css">
</head>
<body>
    <div class="bg-video">
        <video autoplay loop muted>
          <source src="/public/videos/mirage-snow.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="/css/result.css" />
  </head>
  <body>
    <div class="bg-video">
      <video autoplay loop muted>
        <source src="/videos/mirage-snow.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
>>>>>>> 1f27bf2d656c77457cd290c14f9c92f63fa2cc6e:backend/src/views/score.ejs
    </div>
    <h2>PONTUAÇÂO</h2>

    <div class="tabela">
<<<<<<< HEAD:src/views/score.ejs
        <img src="/public/images/stars.png">
        <h1>Score</h1>
        <div class="score">
            <p>
                <%=score%>
            </p>
        </div>
        <div class="buttons">
            <button >AGAIN </button>
            <button> BACK</button>
        </div>
    </div>

    
</body>
</html>
=======
      <img src="/images/stars.png" />
      <h1>Score</h1>
      <div class="score">
        <p><%=score%></p>
      </div>
      <div class="buttons">
        <button>AGAIN</button>
        <button>BACK</button>
      </div>
    </div>
  </body>
</html>
>>>>>>> 1f27bf2d656c77457cd290c14f9c92f63fa2cc6e:backend/src/views/score.ejs
