<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboards</title>
    <link rel="stylesheet" type="text/css" href="/css/leaderboards.css" />
  </head>
  <body>
    <div class="background-video">
      <video autoplay loop muted>
        <source src="/videos/mirage-snow.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="leaderboards-container">
      <div class="main-container">
        <p class="leaderboards-title">LEADERBOARDS</p>
        <div class="tab-container">
          <div class="individual-column">
            <p class="individual-heading">INDIVIDUAL</p>
          </div>
          <div class="team-column">
            <p class="team-heading">EQUIPA</p>
          </div>
        </div>
        <div class="player-container">
          <div class="player-row">
            <img src="/images/medal1.png" class="rank number1" width="40" height="40" style="width: 40px !important; height: 40px !important;" />
            <p class="player-name">Player 1</p>
            <p class="player-score">100</p>
          </div>
        </div>
        <div class="player-container">
          <div class="player-row">
            <img src="/images/medal2.png" class="rank number2" width="40" height="40" style="width: 40px !important; height: 40px !important;" />
            <p class="player-name">Player 2</p>
            <p class="player-score">90</p>
          </div>
        </div>
        <div class="player-container">
          <div class="player-row">
            <img src="/images/medal3.png" class="rank number3" width="40" height="40" style="width: 40px !important; height: 40px !important;" />
            <p class="player-name">Player 3</p>
            <p class="player-score">80</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#"><img src="/images/arrow.png" alt="Arrow" class="arrow-icon" /></a>
  </body>
</html>