<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter-Strike Quiz</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
  </head>
  <body>
    <div class="header">
      <span id="Counter-Strike">Counter-Strike </span>
      <span id="Quiz">Quiz</span>
    </div>
    <div class="opcoes">
      <ul>
        <a href="/question/vf"><li>CRIAR JOGO</li></a>
        <a href="#"><li>EQUIPA</li></a>
        <a href="/leaderboards"><li>LEADERBOARDS</li></a>
        <a href=""><li>LOGOUT</li></a>
      </ul>
    </div>
  </body>
</html>
