<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/score.css">
</head>
<body>
    <div class="bg-video">
        <video autoplay loop muted>
          <source src="/public/videos/mirage-snow.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
    </div>
    <h2>PONTUAÇÂO</h2>

    <div class="tabela">
        <img src="/public/images/stars.png">
        <h1>Score</h1>
        <div class="score">
            <p>
                <%=score%>
            </p>
        </div>
        <div class="buttons">
            <button >AGAIN </button>
            <button> BACK</button>
        </div>
    </div>

    
</body>
</html>