body {
    margin: 0;
    padding: 0;
    background-image: url("./Assets/mirage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.div {
    display: flex;
    max-width: 859px;
    flex-direction: column;
    padding: 0 20px;
}

.div-2 {
    color: var(--Color-2, #fff);
    align-self: center;
    font: 400 64px counter-strike, sans-serif;
    margin-top: 7%;
    margin-left: 69%;
}

.div-3 {
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fffdfd;
    margin-top: 3%;
    margin-left: 53%;
    width: 60%;
    padding: 13px 12px;
}

.div-4 {
    gap: 5%;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.div-5 {
    background-image: url("./Assets/rectangle11.jpg");
    color: #fff;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.div-6 {  
    color: #160a37;
    font-size: 30px;
    padding: 10px 65px;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
}

.div-8 {
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fffdfd;
    margin-top: 1%;
    margin-left: 53%;
    width: 60%;
    padding: 10px 12px;
}

.player-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.number {
    width: 40%;
    font-size: 30px;
    text-align: left;
    margin-top: 1%;
    margin-left: 3%;
}

.player {
    width: 40%;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
}

.score {
    width: 40%;
    font-size: 30px;
    text-align: right;
    margin-top: 1%;
    margin-right: 3%;
}

.number.number1 {
    background-image: url("./Assets/medal1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 2%;
}

.number.number2 {
    background-image: url("./Assets/medal2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 2%;
}

.number.number3 {
    background-image: url("./Assets/medal3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 2%;
}

.arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
}
